.controls{
    margin-top:20px;
    text-align:center;
}
.controls button{
    padding:5px 12px;
    background-color:#574b90;
    color:#fff;
    font-size:16px;
    border-radius:3px;
    margin-right:10px;
}