.tab{
    margin-bottom:20px;
}
.tab_nav{
    display:flex;
    padding:15px 0 20px;
}
.tab_nav button{
    padding:3px 10px;
    background-color:#fab1a0;
    color:#fff;
    font-size:18px;
    border-radius:3px;
    margin-right:10px;
}
.tab_nav button.active{
    background-color:#ff7675;
}
.tab_content{
    background-color:#dfe6e9;
    padding:40px 15px;
    min-height:100px;
    border-radius:3px;
}
.tab_content h2{
    margin-bottom:10px;
}
.welcome{
    margin:30px 0;
}